.leftframe{
    width: 70%;
    height: 100%;
    float: left;
    background-color: whitesmoke;
    /* border-style:solid; */
}
 
.rightframe{
    width: 28%;
    height: 100%;
    float: right;
    background-color: whitesmoke;
    /* border-style:solid; */
}

html,head {
    height: 100%
}

body {
    height: 97%;
}

img {
    max-width: 100%;
    max-height: 100%;
}